<div class="main-container">
    <ng-template #gridItemTemplate let-item>
        <article *ngIf="item">
            <section>
                <span class="pi pi-tag"></span>
                <div>{{item.category}}</div>
                <div>{{item.inventoryStatus}}</div>
            </section>
            <section>
                <div>{{item.name}}</div>
                <div>{{item.description}}</div>
                <div *ngIf="item.rating">
                    <ul *ngFor="let rate of [1,2,3,4,5]">
                        <li [ngClass]="item.rating >= rate ? 'pi pi-star-fill': 'pi pi-star'"></li>
                    </ul>
                </div>
                
            </section>
            <section>
                {{item.category}}
                <button pButton pRipple icon="pi pi-shopping-cart" class="h-45"></button>
            </section>
        </article>
    </ng-template>
    <ng-template #listItemTemplate let-item>
        {{item.name}}
    </ng-template>

    <app-list [items]="items" [listItemTemplate]="listItemTemplate" [gridItemTemplate]="gridItemTemplate" [selectable]="true">    
    </app-list>
</div>